<div id="<%= dom_id razao_social_empresa %>">
  <p>
    <strong>Fornecedores:</strong>
    <%= razao_social_empresa.fornecedores %>
  </p>

  <p>
    <strong>Razao social:</strong>
    <%= razao_social_empresa.razao_social %>
  </p>

</div>
