<h1>Editing razao social empresa</h1>

<%= render "form", razao_social_empresa: @razao_social_empresa %>

<br>

<div>
  <%= link_to "Show this razao social empresa", @razao_social_empresa %> |
  <%= link_to "Back to razao social empresas", razao_social_empresas_path %>
</div>
