<div id="<%= dom_id fornecedore %>">
  <p>
    <strong>Nome:</strong>
    <%= fornecedore.nome %>
  </p>

  <p>
    <strong>Cnp:</strong>
    <%= fornecedore.cnp %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= fornecedore.endereco %>
  </p>

</div>
