<h1>Editing fornecedore</h1>

<%= render "form", fornecedore: @fornecedore %>

<br>

<div>
  <%= link_to "Show this fornecedore", @fornecedore %> |
  <%= link_to "Back to fornecedores", fornecedores_path %>
</div>
